<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org en"
      layout:decorate="_shared/_layout_user">
<body>
<div layout:fragment="content">
    <h1>Product list</h1>
    <div class="content">
        <table class="display table table-bordered" style="width:800px">
            <thead class="text-center">
            <tr>
                <th class="text-right">Id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Weight</th>
                <th class="text-left">Price</th>
                <th class="text-left">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td class="text-right"th:text= "${product.getProductId()}"></td>
                <td class="text-left"th:text= "${product.getProductName()}"></td>
                <td class="text-left" th:text= "${product.getProductWeight()}"></td>
                <td class="text-center" th:text= "${product.getProductPrice()}"></td>
                <td class="text-center" th:text= "${product.getProductCategory().getCategoryName()}"></td>

                <td>
                    <form th:action="@{/user/product/add-to-cart}" method="post" style="display:inline;">
                        <input type="hidden" name="productId" th:value="${product.productId}" />
                        <input type="hidden" name="quantity" value="1" />
                        <button type="submit" class="btn btn-success btn-sm">Dodaj do Koszyka</button>
                    </form>
                    <a class="btn btn-primary" th:href="@{/user/product/{productId}/details(productId=${product.getProductId()})}">details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
