<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org en"
      layout:decorate="_shared/_layout">
<body>
<div layout:fragment="content">
    <h1>Students list</h1>
    <a class="btn btn-primary" href="/product/add">Add product</a>
    <div class="content">
        <table class="display table table-bordered" style="width:800px">
            <thead class="text-center">
            <tr>
                <th class="text-right">Id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Weight</th>
                <th class="text-left">Price</th>
                <th class="text-left">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td class="text-right"th:text= "${product.getProductId()}"></td>
                <td class="text-left"th:text= "${product.getProductName()}"></td>
                <td class="text-left" th:text= "${product.getProductWeight()}"></td>
                <td class="text-center" th:text= "${product.getProductPrice()}"></td>
                <td class="text-center" th:text= "${product.getProductCategory().getCategoryName()}"></td>

                <td><a class="btn btn-primary" th:href="@{/product/{productId}/edit(productId=${product.getProductId()})}">edit</a></td>

                <td>
                    <form th:action="@{/product/remove(productId=${product.getProductId()})}" method="post">
                        <input type="submit" value="remove" class="btn btn-danger" />
                    </form>
                </td>

                <td><a class="btn btn-primary" th:href="@{/product/{productId}/details(productId=${product.getProductId()})}">details</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
