<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<div layout:fragment="head">
  <script th:if="${error}">
    alert("[[${error}]]");
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", (e) => {
      let serialized = [[${usedIDs}]];
      let usedIDs = new Set(serialized);

      document.getElementById("product-id").addEventListener("blur", (e) => {
        let id = parseInt(document.getElementById("product-id").value);
        if (usedIDs.has(id)) {
          document.getElementById("product-id").value = "";
          alert("ID must be unique!");
        }
      });

      document.getElementById("product-id").value = "";

      document.getElementById("add-form").addEventListener("submit", (e) => {
        if (document.getElementById("product-id").value === "") {
          e.preventDefault();
          alert("ID value cannot be empty!");
        }
      });

    });
  </script>
</div>

<title layout:fragment="title">Add product</title>

<div layout:fragment="content">

<h1>Add a new product</h1>
<form id="add-form" action="#" th:action="@{/product/add}" th:object="${product}" method="post">
  <table class="table table-striped table-bordered" style="width:800px">
    <tbody>
    <tr>
      <td><p>Id: </p></td>
      <td><input id="product-id" type="text" th:field="*{id}" /></td>
    </tr>
    <tr>
      <td><p>Name: </p></td>
      <td><input type="text" th:field="*{name}" /></td>
    </tr>
    <tr>
      <td><p>Weight [kg]: </p></td>
      <td><input type="number" step="0.01" th:field="*{weight}" /></td>
    </tr>
    <tr>
      <td><p>Category: </p></td>
      <td><input type="text" th:field="*{category}" /></td>
    </tr>
    <tr>
      <td><p>Price [PLN]: </p></td>
      <td><input type="number" step="0.01" th:field="*{price}" /></td>
    </tr>
    <tr>
      <td><p>Expiry Date: </p></td>
      <td><input type="date" th:field="*{expiryDate}" /></td>
    </tr>
    <tr>
      <td><p>Description</p></td>
      <td><input type="text" th:field="*{description}" /></td>
    </tr>
    </tbody>
  </table>
  <p><input type="submit" value="Add" /> <input type="reset" value="Clear" /></p>
</form>
</div>

</html>
